{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie_sub list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_sub in categorie_subs %}
            <tr>
                <td><a href="{{ path('categorie_sub_show', { 'id': categorie_sub.id }) }}">{{ categorie_sub.id }}</a></td>
                <td>{{ categorie_sub.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorie_sub_show', { 'id': categorie_sub.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categorie_sub_edit', { 'id': categorie_sub.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_sub_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
